@model ThAmCo.Events.Data.Guest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Guest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GuestId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GuestId)
        </dd>
    </dl>
    <h4>Booked Events</h4>
    @if (Model.Bookings.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Event Title</th>
                    <th>Date</th>
                    <th>Is Attending</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model.Bookings)
                {
                    <tr>
                        <td>@booking.Event.Title</td>
                        <td>@(booking.IsAttending ? "Yes" : "No")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>This guest is not booked for any events.</p>
    }
</div>
<div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GuestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
